html {
    height: 100%;
}
a {
    color: #eee !important;
}
a:hover,
a:active {
    color: #ddd !important;
    opacity: 0.6;
    text-decoration: none !important;
}
.navbar>li>a:hover,
.navbar>li>a:focus {
    background-color: #ccc;
}
.container-fluid.main {
    margin-top: 52px;
    padding-top: 30px;
    padding-bottom: 30px;
}