html {
    height: 100%;
}
body {
    background-image: url("../img/pink-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    color: #eee !important;
}
a:hover,
a:active {
    color: #ddd !important;
    opacity: 0.6;
    text-decoration: none !important;
}
.navbar>li>a:hover,
.navbar>li>a:focus {
    background-color: #ccc;
}
.container.main {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}