{% extends "layouts/app.html" %} {% block styles %} {% endblock %} {% block content %}

<div class="row">
    <div class="cont-left">
        {% for video in videos %}
        <div class="card my-2 bg-dark text-white" id="{{ video['id'] }}">
                <img class="card-img" src="{{ video['image'] }}" alt="Card image">
                <div class="card-img-overlay">
                    <p class="card-text">{{ video['title'] }}</p>
                </div>
        </div>      
        {% endfor %}
    </div>
    <div class="cont-right">
        <div class="col-cent">
            <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->
                <iframe id="main_video" width="560" height="349" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-right">
            <a href="/listen">
                <img src="{{ url_for('static', filename='img/audience.png') }}" alt="" width="80%">
                <h3 class="mt-3 mb-3">I'm here to listen</h3>
            </a>
        </div>
        <div class="col-graph">
            ageajio
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type=text/javascript>
    $(function(){
      $(".card").one("click", function(){
        var video_url = "https://www.youtube.com/embed/"+$(this).attr("id");
        document.getElementById('main_video').setAttribute("src", video_url);
      });
    });
  </script>
{% endblock %}